/* TODO Add site wide styles */

.editCap{
  display: flex;
  flex-direction: row;
}


.imgCaption{
  overflow: hidden;
word-break: break-word; 
 max-width: 305px;
 text-align: center;
 padding-top: 10px;
 padding-bottom: 20px;
 min-width: 305px;
background-color: white;}

.sign-up-body{
  background-color: #93b7d5;
}

.avatar-upload-con{
  display: flex;
  /* margin-left: 10px; */
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sign-up-login-con{
  margin: 20px;

}

.input-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-input-con{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.upP{
  color: blue;
}
