.images{
  position: relative;
  width:auto;
  top:12.5vh;
}

.image{
  height: 250px;
  width: auto;
  align-items: center;
  border-radius: 50px;
  display: flex;
  height: 200px;
  justify-content: center;
  margin-right: 4rem;
  width: 200px;

  box-shadow: 
  12px 12px 16px 0 rgba(0, 0, 0, 0.25),
  -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.image:hover{
  box-shadow: 
  12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
  -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
}

.imageContainer {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.likeButton {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  top: 50%;
  left: 0%;
  z-index: 1;
}

.deleteButton {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}


.imageContainer:hover > .likeButton {
  visibility: visible;
}

.imageContainer:hover > .deleteButton {
  visibility: visible;
}


.caption .captionEdit {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.caption:hover .captionEdit {
  visibility: visible;
}

.captionContainer{
  width: 75px;
}
