.select-image-page-body {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);

  animation: animate .2s;
  z-index: 1001;
}

@keyframes animate {
  from {
      transform: scale(1.1);
      opacity: 0;
  }

  to {
      transform: scale(1);    
      opacity: 100%;
  }
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 75%;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.226);

  z-index: 1002;
}

.new-post-text {
  display: flex;
  justify-content: center;
  padding-top: .75rem;
  font-size: 1.75rem;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}


.select-image-page-body{
  background-color: #e4ebf5;
  
}

.modal-container{
  background-color: #93b7d5;
}

ul {
  list-style-type: none;
}

.errorsDiv{
  margin-top: -20px;
  margin-bottom: 10px;
}

.display-errors {
  color: red;
  font-size: 1.5rem;
}

.file-thing {
  /* color: white; */
  position: relative;
  top: 5rem;
  left: 2.5rem;
}

.caption-input {
  margin-top:10px;

  border-style: none;
  border: none;
  height: 36px;

  font-size: .9em;
  width: 90%;
  border-radius: 20px;
  background-color: #e8f0fe;
  box-shadow: 
  12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
  -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
  padding-left: 24px;
 


}

.submit-button {
  margin-top: 100px;
  color: white;
  border-radius: .4rem;
  width: 8rem;
  height: 2rem;
  font-weight: bold;
  text-align: center;
  font-size: 1.15rem;
  border: none;


  padding: 5px;
  background-color: #93b7d5;
  color: white;

  border-radius: 20px;



  box-shadow: 
  12px 12px 16px 0 rgba(0, 0, 0, 0.25),
  -8px -8px 12px 0 rgba(255, 255, 255, 0.3);



}

.submit-button:hover {
  cursor: pointer;
  box-shadow: 
  12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
  -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;

}

.X {
  position: fixed;
  top: 7.5%;
  right: 32%;
  width:2rem;
  height:2rem;
  color: black;
  z-index: 1003;
}

.X:hover {
  cursor: pointer;
  transform: scale(1.1);
}



.X{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

.createPostTitle{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: ;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


  border-radius: 20px;



  box-shadow: 
  12px 12px 16px 0 rgba(0, 0, 0, 0.25),
  -8px -8px 12px 0 rgba(255, 255, 255, 0.3);

  
}
