.NavContainer{
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 12.5%;
  width: 100vw;
  left: 0px;
  top: 0px;
  background-color: white;
}

.addImage{
  width: 50px;

}


.logout{
  width: 50px;
}
